$black: #1a1a1a;
$white: #fefefe;
$blue: #7BDEF2;

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

input[type="button"],
input[type="submit"],
button {
	appearance: none;
	border: none;
	box-shadow: none;
	background: none;
	color: white;
	padding: 10px;
	&:hover {
		background-color: rgba($white, 0.1);
	}
}

.App {
	display: grid;
	height: 100vh;
	overflow: hidden;
	grid-template-rows: auto 40px;
	user-select: none;
}

#main-window {
	display: grid;
	grid-template-columns: 1fr;
	position: relative;
	background-color: rgba($white, 0.05);
	background-image: url("./images/wallpaper.jpg");
	background-position: center center;
	background-size: cover;
}

#sidebar {
	background-color: rgba($black, 0.8);
}

#taskbar {
	background: linear-gradient(rgba($white, 0.25), $black, $black, rgba($white, 0.25));
	color: $white;
}

#start {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	&, * {
		color: $white;
	}
	&:hover {
		&, * {
			color: $blue;
		}
	}
}

#window-list {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding-bottom: 1px;
	.window {
		position: relative;
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		min-width: 50px;
		max-width: 200px;
		padding: 5px 10px;
		text-align: center;
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 5px;
			right: 5px;
			bottom: 0;
			height: 2px;
			background: $blue;
		}
		&:hover {
			background: rgba($white, 0.1);
			&:after {
				left: 0;
				right: 0;
			}
		}
		&.active {
			background: rgba($white, 0.2);
			&:after {
				left: 0;
				right: 0;
			}
			&:hover {
				background: rgba($white, 0.3);
			}
		}
	}
}

#toolbar {
	display: flex;
	flex: 1 1 auto;
}

#clock {
	flex: 0 0 auto;
	text-align: center;
	font-size: 14px;
	padding: 5px;
	.date {
		font-size: 12px;
	}
}

#main-window {
	.window {
		border: 1px solid rgba($blue, 0.2);
		box-shadow: 1px 1px 10px rgba($blue, 0.25);
		background-color: $black;
		color: $white;
		width: 400px;
		.toolbar {
			display: grid;
			grid-template-columns: 1fr auto;
			height: 30px;
			color: $blue;
			background: linear-gradient(rgba($blue, 0.25), $black, $black, rgba($blue, 0.25));
			.window-title {
				padding: 5px 10px;
				line-height: 1.2;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.button-group button {
				height: 100%;
				padding: 5px 10px;
			}
		}
		.window-content {
			min-height: 200px;
		}
		&.active {
			box-shadow: 1px 1px 10px rgba($blue, 0.5);
		}
		&.window-full {
			top: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
			left: 0 !important;
			transform: unset !important;
			width: 100%;
		}
		&.window-minimised {
			top: auto !important;
			right: 50% !important;
			bottom: 0 !important;
			left: 50% !important;
			transform: unset !important;
			height: 0;
			overflow: hidden;
		}
	}
}